СкладУчет/Web References/СсылкаНаСервис/forTSD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.dns-shop.tsd.ru" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd1="http://v8.1c.ru/8.1/data/core" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd2="http://www.dns-shop.tsd.ru" name="forTSD" targetNamespace="http://www.dns-shop.tsd.ru" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://v8.1c.ru/8.1/data/core" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://v8.1c.ru/8.1/data/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="AllowedLength">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Fixed" />
          <xs:enumeration value="Variable" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="AllowedSign">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Any" />
          <xs:enumeration value="Nonnegative" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Array">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BinaryDataQualifiers">
        <xs:sequence>
          <xs:element name="Length" type="xs:decimal" />
          <xs:element name="AllowedLength" type="tns:AllowedLength" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CompositeID">
        <xs:restriction base="xs:string">
          <xs:pattern value="-?[0-9]+(:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})?" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="DataFillError">
        <xs:sequence>
          <xs:element name="Data" type="xs:string" />
          <xs:element name="DataDescr" type="xs:string" />
          <xs:element name="Text" type="xs:string" />
          <xs:element name="Status" type="tns:FillCheckErrorStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DataFillErrors">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:DataFillError" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DateFractions">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Date" />
          <xs:enumeration value="Time" />
          <xs:enumeration value="DateTime" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="DateQualifiers">
        <xs:sequence>
          <xs:element name="DateFractions" type="tns:DateFractions" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:GenericException">
            <xs:sequence>
              <xs:element minOccurs="0" name="data" type="xs:base64Binary" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="FillCheckErrorStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Error" />
          <xs:enumeration value="Warning" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="FillChecking">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DontCheck" />
          <xs:enumeration value="ShowError" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="FixedArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FixedMap">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pair" type="tns:KeyAndValue" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FixedStructure">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Property">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Value" nillable="true" />
              </xs:sequence>
              <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GenericException" abstract="true">
        <xs:sequence>
          <xs:element name="descr" type="xs:string" />
          <xs:element minOccurs="0" name="inner" type="tns:GenericException" />
        </xs:sequence>
        <xs:attribute name="clsid" type="tns:UUID" use="required" />
        <xs:attribute default="false" name="encoded" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="KeyAndValue">
        <xs:sequence>
          <xs:element name="Key" />
          <xs:element name="Value" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LocalStringItemType">
        <xs:sequence>
          <xs:element name="lang" type="xs:NMTOKEN" />
          <xs:element name="content" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LocalStringType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:LocalStringItemType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Map">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pair" type="tns:KeyAndValue" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Null">
        <xs:restriction base="xs:string">
          <xs:length value="0" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="NumberQualifiers">
        <xs:sequence>
          <xs:element name="Digits" type="xs:decimal" />
          <xs:element name="FractionDigits" type="xs:decimal" />
          <xs:element name="AllowedSign" type="tns:AllowedSign" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StandardBeginningDate">
        <xs:sequence>
          <xs:element name="variant" />
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="StandardBeginningDateVariant">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Custom" />
          <xs:enumeration value="BeginningOfThisDay" />
          <xs:enumeration value="BeginningOfThisWeek" />
          <xs:enumeration value="BeginningOfThisTenDays" />
          <xs:enumeration value="BeginningOfThisMonth" />
          <xs:enumeration value="BeginningOfThisQuarter" />
          <xs:enumeration value="BeginningOfThisHalfYear" />
          <xs:enumeration value="BeginningOfThisYear" />
          <xs:enumeration value="BeginningOfLastDay" />
          <xs:enumeration value="BeginningOfLastWeek" />
          <xs:enumeration value="BeginningOfLastTenDays" />
          <xs:enumeration value="BeginningOfLastMonth" />
          <xs:enumeration value="BeginningOfLastQuarter" />
          <xs:enumeration value="BeginningOfLastHalfYear" />
          <xs:enumeration value="BeginningOfLastYear" />
          <xs:enumeration value="BeginningOfNextDay" />
          <xs:enumeration value="BeginningOfNextWeek" />
          <xs:enumeration value="BeginningOfNextTenDays" />
          <xs:enumeration value="BeginningOfNextMonth" />
          <xs:enumeration value="BeginningOfNextQuarter" />
          <xs:enumeration value="BeginningOfNextHalfYear" />
          <xs:enumeration value="BeginningOfNextYear" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="StandardPeriod">
        <xs:sequence>
          <xs:element name="variant" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="StandardPeriodVariant">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Custom" />
          <xs:enumeration value="Today" />
          <xs:enumeration value="ThisWeek" />
          <xs:enumeration value="ThisTenDays" />
          <xs:enumeration value="ThisMonth" />
          <xs:enumeration value="ThisQuarter" />
          <xs:enumeration value="ThisHalfYear" />
          <xs:enumeration value="ThisYear" />
          <xs:enumeration value="FromBeginningOfThisWeek" />
          <xs:enumeration value="FromBeginningOfThisTenDays" />
          <xs:enumeration value="FromBeginningOfThisMonth" />
          <xs:enumeration value="FromBeginningOfThisQuarter" />
          <xs:enumeration value="FromBeginningOfThisHalfYear" />
          <xs:enumeration value="FromBeginningOfThisYear" />
          <xs:enumeration value="Yesterday" />
          <xs:enumeration value="LastWeek" />
          <xs:enumeration value="LastTenDays" />
          <xs:enumeration value="LastMonth" />
          <xs:enumeration value="LastQuarter" />
          <xs:enumeration value="LastHalfYear" />
          <xs:enumeration value="LastYear" />
          <xs:enumeration value="LastWeekTillSameWeekDay" />
          <xs:enumeration value="LastTenDaysTillSameDayNumber" />
          <xs:enumeration value="LastMonthTillSameDate" />
          <xs:enumeration value="LastQuarterTillSameDate" />
          <xs:enumeration value="LastHalfYearTillSameDate" />
          <xs:enumeration value="LastYearTillSameDate" />
          <xs:enumeration value="Tomorrow" />
          <xs:enumeration value="NextWeek" />
          <xs:enumeration value="NextTenDays" />
          <xs:enumeration value="NextMonth" />
          <xs:enumeration value="NextQuarter" />
          <xs:enumeration value="NextHalfYear" />
          <xs:enumeration value="NextYear" />
          <xs:enumeration value="NextWeekTillSameWeekDay" />
          <xs:enumeration value="NextTenDaysTillSameDayNumber" />
          <xs:enumeration value="NextMonthTillSameDate" />
          <xs:enumeration value="NextQuarterTillSameDate" />
          <xs:enumeration value="NextHalfYearTillSameDate" />
          <xs:enumeration value="NextYearTillSameDate" />
          <xs:enumeration value="TillEndOfThisWeek" />
          <xs:enumeration value="TillEndOfThisTenDays" />
          <xs:enumeration value="TillEndOfThisMonth" />
          <xs:enumeration value="TillEndOfThisQuarter" />
          <xs:enumeration value="TillEndOfThisHalfYear" />
          <xs:enumeration value="TillEndOfThisYear" />
          <xs:enumeration value="Last7Days" />
          <xs:enumeration value="Next7Days" />
          <xs:enumeration value="Month" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="StringQualifiers">
        <xs:sequence>
          <xs:element name="Length" type="xs:decimal" />
          <xs:element name="AllowedLength" type="tns:AllowedLength" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Structure">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Property">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Value" nillable="true" />
              </xs:sequence>
              <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Type">
        <xs:restriction base="xs:QName" />
      </xs:simpleType>
      <xs:complexType name="TypeDescription">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Type" type="xs:QName" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeSet" type="xs:QName" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeId" type="tns:UUID" />
          <xs:element minOccurs="0" name="NumberQualifiers" type="tns:NumberQualifiers" />
          <xs:element minOccurs="0" name="StringQualifiers" type="tns:StringQualifiers" />
          <xs:element minOccurs="0" name="DateQualifiers" type="tns:DateQualifiers" />
          <xs:element minOccurs="0" name="BinaryDataQualifiers" type="tns:BinaryDataQualifiers" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="UUID">
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ValueListItemType">
        <xs:sequence>
          <xs:element name="value" nillable="true" />
          <xs:element minOccurs="0" name="presentation" type="xs:string" />
          <xs:element minOccurs="0" name="checkState" type="xs:decimal" />
          <xs:element minOccurs="0" name="picture" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="formatPresentationSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="formatPresentation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValueListType">
        <xs:sequence>
          <xs:element name="valueType" type="tns:TypeDescription" />
          <xs:element minOccurs="0" name="availableValues" type="tns:ValueListType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ValueListItemType" />
          <xs:element minOccurs="0" name="lastId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ValueStorage">
        <xs:restriction base="xs:base64Binary" />
      </xs:simpleType>
      <xs:complexType name="ValueTable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="column" type="tns:ValueTableColumn" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="index" type="tns:ValueTableIndex" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="row" type="tns:ValueTableRow" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValueTableColumn">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" type="xs:NMTOKEN" />
          <xs:element minOccurs="0" name="ValueType" type="tns:TypeDescription" />
          <xs:element minOccurs="0" name="Title" type="xs:string" />
          <xs:element minOccurs="0" name="Width" type="xs:nonNegativeInteger" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValueTableIndex">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="column" type="xs:NMTOKEN" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValueTableRow">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValueTree">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="column" type="tns:ValueTreeColumn" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="row" type="tns:ValueTreeRow" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValueTreeColumn">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" type="xs:NMTOKEN" />
          <xs:element minOccurs="0" name="ValueType" type="tns:TypeDescription" />
          <xs:element minOccurs="0" name="Title" type="xs:string" />
          <xs:element minOccurs="0" name="Width" type="xs:nonNegativeInteger" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValueTreeRow">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="row" type="tns:ValueTreeRow" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs2="http://www.dns-shop.tsd.ru" xmlns:xs1="http://v8.1c.ru/8.1/data/core" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dns-shop.tsd.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://v8.1c.ru/8.1/data/core" />
      <xs:complexType name="СписокНоменклатуры">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Номенклатура" type="xs2:СтрокаНоменклатуры" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Стр">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="v" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Стр_">
        <xs:sequence>
          <xs:element name="П1" type="xs:string" />
          <xs:element name="П2" type="xs:string" />
          <xs:element name="П3" type="xs:string" />
          <xs:element name="П4" type="xs:string" />
          <xs:element name="П5" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="СтрокаНоменклатуры">
        <xs:sequence>
          <xs:element name="Код" type="xs:string" />
          <xs:element name="Наименование" type="xs:string" />
          <xs:element name="Количество" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Таб">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="a" type="xs2:Стр" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ОбменТСД">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ВидОперации" type="xs:string" />
            <xs:element name="Список" type="xs2:СписокНоменклатуры" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ОбменТСДResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs2:СписокНоменклатуры" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updatefirmware">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="version" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updatefirmwareResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Обмен">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Опер" type="xs:string" />
            <xs:element name="Доп" nillable="true" type="xs:string" />
            <xs:element name="Список" nillable="true" type="xs2:Таб" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ОбменResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs2:Таб" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="ОбменТСДRequestMessage">
    <part name="parameters" element="xsd2:ОбменТСД" />
  </message>
  <message name="ОбменТСДResponseMessage">
    <part name="parameters" element="xsd2:ОбменТСДResponse" />
  </message>
  <message name="updatefirmwareRequestMessage">
    <part name="parameters" element="xsd2:updatefirmware" />
  </message>
  <message name="updatefirmwareResponseMessage">
    <part name="parameters" element="xsd2:updatefirmwareResponse" />
  </message>
  <message name="ОбменRequestMessage">
    <part name="parameters" element="xsd2:Обмен" />
  </message>
  <message name="ОбменResponseMessage">
    <part name="parameters" element="xsd2:ОбменResponse" />
  </message>
  <portType name="forTSDPortType">
    <operation name="ОбменТСД">
      <input message="xsd2:ОбменТСДRequestMessage" />
      <output message="xsd2:ОбменТСДResponseMessage" />
    </operation>
    <operation name="updatefirmware">
      <input message="xsd2:updatefirmwareRequestMessage" />
      <output message="xsd2:updatefirmwareResponseMessage" />
    </operation>
    <operation name="Обмен">
      <input message="xsd2:ОбменRequestMessage" />
      <output message="xsd2:ОбменResponseMessage" />
    </operation>
  </portType>
  <binding name="forTSDSoapBinding" type="xsd2:forTSDPortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ОбменТСД">
      <soapbind:operation soapAction="http://www.dns-shop.tsd.ru#forTSD:ОбменТСД" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="updatefirmware">
      <soapbind:operation soapAction="http://www.dns-shop.tsd.ru#forTSD:updatefirmware" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="Обмен">
      <soapbind:operation soapAction="http://www.dns-shop.tsd.ru#forTSD:Обмен" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="forTSDSoap12Binding" type="xsd2:forTSDPortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ОбменТСД">
      <soap12bind:operation soapAction="http://www.dns-shop.tsd.ru#forTSD:ОбменТСД" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="updatefirmware">
      <soap12bind:operation soapAction="http://www.dns-shop.tsd.ru#forTSD:updatefirmware" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="Обмен">
      <soap12bind:operation soapAction="http://www.dns-shop.tsd.ru#forTSD:Обмен" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="forTSD">
    <port name="forTSDSoap" binding="xsd2:forTSDSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://adm-zheludkov:52081/WS_Sklad/ws/TSD.1cws" />
    </port>
    <port name="forTSDSoap12" binding="xsd2:forTSDSoap12Binding">
      <soap12bind:address location="http://adm-zheludkov:52081/WS_Sklad/ws/TSD.1cws" />
    </port>
  </service>
</definitions>